// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
  list-style: none;
}

.description {
  color: grey;
}

.new-article {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.fa-edit {
  padding: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.article-title a{
  text-decoration: none;
  color: #337AB7;
  font-weight: 500;
}

.main-header {
  display:flex;
  justify-content: space-between;
  margin: 20px;
  margin-right: 50px;
  align-items: center;
}
